/* VOYAGER RESETS */
.tt {
    display: inline-block;
    margin: 0 5px;
}

.vext-browse table.dataTable tbody td, table.dataTable tbody th {
  padding: 0;
}
.vext-browse .table>tbody>tr>td,
.vext-browse .table>tbody>tr>th,
.vext-browse .table>tfoot>tr>td,
.vext-browse .table>tfoot>tr>th,
.vext-browse .table>thead>tr>td,
.vext-browse .table>thead>tr>th {
   padding: 0;
   line-height: normal;
   vertical-align: middle;
   border-top: none;
}
.vext-browse table.dataTable thead>tr>th {
     padding-left: 10px;
     padding-right: 20px;
}
.vext-browse .table>thead>tr>th {
    padding: 7px 20px 7px 10px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 600;
}
.vext-browse .table>tbody>tr>td {
    padding: 0 20px 0 10px;
}

.vext-browse .table>thead>tr>th.sorting,
.vext-browse .table>thead>tr>th.actions {
    background: #efefef;
}

.vext-browse  table.dataTable thead th.sorting:after,
.vext-browse  table.dataTable thead th.sorting_desc:after,
.vext-browse  table.dataTable thead th.sorting_asc:after {
  text-transform: none;
}

.vext-browse .table>tbody tr.even {
  background: #eef3f9;
}
.vext-browse .table>tbody tr[role='row'] {
  color: #4a4a4a;
}

.vext-browse #bread-actions {
    padding: 0 10px 0 10px;
}
.vext-browse #bread-actions .btn {
    padding: 6px 12px;
}

.vext-browse #bread-actions a span {
    display: none;
}

.vext-browse #bread-actions a.btn-sm {
    background: none;
}

.vext-browse #bread-actions a.btn-sm i:before {
    font-size: 14px;
    transition: all .4s ease;
}

.vext-browse #dataTable #bread-actions a,
.vext-browse .actions a.btn,
.vext-browse .tree-items-list #bread-actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
    border-radius: 20px;
    transition: all .4s ease;
}

.vext-browse #bread-actions a.btn-sm.btn-danger {
    color: #FF1100;
    border: 2px solid rgba(255, 17, 0, 0.3);
}
.vext-browse #bread-actions a.btn-sm.btn-primary {
    color: #419eff;
    border: 2px solid rgba(65, 158, 255, 0.3);
}
.vext-browse #bread-actions a.btn-sm.btn-warning {
    color: #dbae3a;
    border: 2px solid rgba(219, 174, 58, 0.3);
}
.vext-browse #bread-actions a.btn-sm.btn-success {
    color: #28b066;
    border: 2px solid rgba(40, 176, 102, 0.3);
}

.vext-browse .tree-items-list #bread-actions a {
    border: none;
    padding: 6px 12px;
}

.vext-browse #bread-actions a.btn-sm.btn-danger:hover {
    border: 2px solid #FF1100;
}
.vext-browse #bread-actions a.btn-sm.btn-primary:hover {
    border: 2px solid #419eff;
}
.vext-browse #bread-actions a.btn-sm.btn-warning:hover {
    border: 2px solid #dbae3a;
}
.vext-browse #bread-actions a.btn-sm.btn-success:hover {
    border: 2px solid #28b066;
}

.vext-browse .btn-group-sm>.btn i,
.vext-browse .btn-sm i {
    position: relative;
    top: 2px;
    font-size: 12px;
}

.vext-browse .btn-group-sm>.btn i,
.vext-browse .btn-sm i {
    top: 2px;
}
.vext-browse .btn-sm .voyager-edit {
    top: 3px;
}

/* FIXES */
.vext-browse table.dataTable .btn.clone {
    margin-right: 7px;
}

.vext-browse  table.dataTable thead th.right {
    text-align: right;
}
.vext-browse  .table>tbody>tr>td.right {
    text-align: right;
}

.vext-browse  .table>tbody>tr {
    transition: all .4s ease;
}
.vext-browse  .table>tbody>tr.unpublished-record {
    opacity: 0.5;
}

/* TREE */
.vext-browse .tree-items-list .dd-collapsed .dd-collapse {
    display: none;
}
.vext-browse .tree-items-list .dd-expand {
    display: none !important;
}
.vext-browse .tree-items-list .dd-collapsed .dd-expand {
    display: block !important;
}
.vext-browse .tree-items-list .dd-handle {
    display: block;
    height: 42px;
    margin: 2px 0;
    padding: 0;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #dcdcdc;
    background: #fbfbfb;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.vext-browse .tree-items-list .dd-tree-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    height: 42px;
    cursor: move;
    width: 26px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    background: #ddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.vext-browse .tree-items-list .dd-tree-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #efefef;
    transition: all .4s ease;
}
.vext-browse .tree-items-list .dd-tree-move:hover {
    background: #ddd;
}
.vext-browse .tree-items-list .dd-tree-move span {
    background: #929292;
    width: 10px;
    height: 1px;
    margin: 2px 0;
}

.vext-browse .tree-items-list #bread-actions a.btn-sm.clone {
    margin-right: 5px;
}

.vext-browse .tree-items-list .dd-handle {
    padding-left: 50px;
}
.vext-browse .tree-items-list .dd-item>button {
    margin-left: 30px;
}
.vext-browse .tree-items-list .dd-item>button {
    height: 30px;
    width: 20px;
}

.vext-browse .tree-items-list .dd-content-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.vext-browse .tree-items-list .dd-tree-placeholder {
    border: 1px dotted #aaa;
    border-radius: 3px;
    background: transparent;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 42px;
    font-size: 13px;
    line-height: 20px;
}

.dd-dragel .dd-content-actions {
    display: none;
}
.vext-browse .dd-content-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 200px);
}

.vext-browse .dd-content-main .tree-extra-fields {
    margin: 0 10px;
}
.vext-browse .dd-content-main .tree-extra-fields.right-auto {
    margin-right: auto;
}

.vext-browse .tree-id {
    display: inline-block;
    min-width: 30px;
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
}

.dd-content-main .tree-title {
    color: #616161;
}
.dd-content-main .tree-slug {
    font-size: 0.8em;
    font-weight: 400;
    color: #3152b5;
}
.dd-content-main .tree-created_at {
    font-size: 0.8em;
    color: #7b7b7b;
}

.vext-browse .tree-items-list .unpublished-record {
    opacity: 0.5;
}

.vext-browse td p {
    margin-bottom: 0;
}

.region-block-badge {
    font-weight: 400;
}

.urls-block-list ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    font-size: 0.8em;
}

.urls-block-list.rules-a {
    color: #ff3324;
}
.urls-block-list.rules-b {
    color: #28b066;
}